@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Configuration driven diagnostics using diagnostics.wadcfg
            </p>
        </div>
    </section>
}
<h3>We suggest the following:</h3>
@using (Html.BeginForm()) {
<ol class="round">
    <li class="one">
        <h5>Diagnostics.Trace (Azure Trace Log)</h5>
        <button name="button" value="tracebutton">Trace</button>
    </li>

    <li class="two">
        <h5>EventLog.WriteEntry (Windows Event Log)</h5>
        <button name="button" value="windowslogbutton">Windows EventLog</button>
    </li>
</ol>
}